.news
    padding: 150px 20px 70px
    &__content
        margin: 0 auto
        max-width: 950px
        display: grid
        column-gap: 50px
        row-gap: 60px
        grid-template-columns: repeat(2, 47%)
        margin-bottom: 30px
        &-btn
            display: block
            width: 200px
            height: 50px
            border-radius: 7px
            border: none
            background-color: #b4d3d3
            font-family: 'Poppins', sans-serif
            font-size: 20px
            font-weight: 600
            color: #fff
            text-transform: capitalize
            margin: 0 auto
            transition: all .3s
            &:hover
                background-color: #8bcece
    &__item
        position: relative
        display: block
        width: 100%
        &:hover
            text-decoration: none
            .news__item-title
                color: #87bbbc
            .news__item-preview img
                opacity: .8
        &-preview
            width: 100%
            margin-bottom: 30px
            background-color: #000
            &-placeholder
                width: 100%
                height: 100%
                background-color: #e2e8e8
            img
                width: 100%
                height: 100%
                object-fit: cover
                transition: .3s all
        &-title
            font-family: 'Poppins', sans-serif
            font-size: 21px
            font-weight: 500
            line-height: 25px
            color: #1a1a1d
            margin-bottom: 20px
        &-date
            font-family: 'Nunito', sans-serif
            font-size: 16px
            line-height: 16px
            color: #77777e
        &-trending
            position: absolute
            width: 200px
            height: 50px
            font-family: 'Nunito', sans-serif
            font-size: 14px
            font-weight: 700
            line-height: 30px
            letter-spacing: 2.8px
            text-transform: uppercase
            text-align: center
            color: #1a1a1d
            background-color: #fff
            right: 10px
            top: 10px
            line-height: 50px
        &-sm
            display: flex
            &-block
                width: 100%
                display: grid
                row-gap: 60px
            .news__item
                &-preview
                    width: 45%
                    height: 140px
                    margin-bottom: 0
                    margin-right: 40px
                &-descr
                    width: 55%
        &-lg
            &-v
                .news__item
                    &-preview
                        height: 600px
                        margin-bottom: 30px
                    &-descr
                        max-width: 450px
            &-h
                grid-column: 1/3
                width: 100%
                .news__item
                    &-preview
                        height: 530px
        &-md
            width: 100%
            .news__item
                &-preview
                    height: 315px
    &__clients
        &-title
            font-family: 'Poppins', sans-serif
            font-size: 50px
            line-height: 50px
            text-align: center
            color: #1a1a1d
            margin-bottom: 40px
        &-divider
            width: 140px
            height: 2px
            background-color: #1a1a1d
            margin: 0 auto
            margin-bottom: 50px 
    &__table
        &-wrapper
            grid-template-rows: repeat(1, 1fr)
            overflow: hidden
            grid-auto-rows: 0
@media ( max-width: 768px )
    .news
        &__content
            gap: 30px
        &__item
            &-sm
                flex-direction: column
                &-block
                    width: 100%
                    gap: 20px
                    grid-column: 1/3
                    grid-template-columns: repeat(2, 48%)
                .news
                    &__item
                        &-preview
                            margin-right: 0
                            width: 100%
                            margin-bottom: 20px
                        &-descr
                            width: 100%
            &-lg
                &-v
                    grid-column: 1/3
                    .news__item-preview
                        height: 280px
                &-h
                    .news__item-preview
                        height: 280px
            &-md
                .news__item-preview
                    height: 200px
        &__table
            &-wrapper
                grid-template-rows: repeat(2, 1fr)
@media ( max-width: 576px )
    .news
        padding: 150px 0 60px
        margin: 0 30px
        &__content
            grid-template-columns: repeat(1, 100%)
            margin-bottom: 50px
        &__item
            &-title
                font-size: 16px
            &-sm
                &-block
                    grid-template-columns: repeat(1,100%)
                    grid-column: 1/2
            &-trending
                width: 140px
                height: 40px
                line-height: 40px
            &-lg
                &-v
                    grid-column: 1/2
                &-h
                    grid-column: 1/2
        &__clients
            &-title
                font-size: 35px
        &__table
            &-wrapper
                grid-template-rows: repeat(4, 1fr)