@import 'libs/bootstrap-reboot.min'
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&family=Playfair+Display:ital,wght@0,400;1,700&family=Poppins:wght@300;400&display=swap')

*
	margin: 0
	padding: 0

html
	scroll-behavior: smooth

// .container
// 	width: 1140px
// 	margin: 0 auto

svg 
	width: 25px
	height: 25px


@import 'blocks/elements/_offcanvas'

@import 'blocks/elements/_sidebar'
@import 'blocks/elements/_header'
@import 'blocks/elements/_footer'
@import 'blocks/elements/_animations'
@import 'blocks/elements/_table'

@import 'blocks/about/_about'
@import 'blocks/about/_menu'
@import 'blocks/about/_carousel'

@import 'blocks/clients/_talent'
@import 'blocks/clients/_social'
@import 'blocks/clients/_news-preview'

@import 'blocks/contacts/_contacts'

@import 'blocks/homepage/_homepage'
@import 'blocks/homepage/_homepageTable'
@import 'blocks/homepage/_homepageNews'

@import 'blocks/blog/_blog'
@import 'blocks/blog/_offer'

@import 'blocks/news/_news'

@import 'blocks/profile/_inner'
@import 'blocks/profile/_content'











// font-family: 'Nunito Sans', sans-serif
// font-family: 'Playfair Display', serif
// font-family: 'Poppins', sans-serif

// @media ( max-width: 1200px )
//     .container
//         max-width: 960px

// @media ( max-width: 992px )
//     .container
//         max-width: 720px

// @media ( max-width: 768px )
//     .container
//         max-width: 540px

// @media ( max-width: 576px )
//     .container
//         width: 100%
//         padding: 0 10px

.decor
	position: absolute
	width: 15%
	height: 500px
	background-image: linear-gradient(to top, #b4d3d3, #d9e7e7)
	right: 0
	top: 0
	z-index: -1
@media ( max-width: 576px )
	.decor
		width: 15%
		height: 400px