.social
    position: relative
    height: 1080px
    margin-bottom: 200px
    &__photo
        position: absolute
        width: 1440px
        height: 720px
        background-color: #e2e8e8
        top: 0
        right: 0
        z-index: -1
    &__links__block
        position: absolute
        right: 0
        width: 480px
        height: 450px
        background-image: linear-gradient(to top, #b4d3d3, #d9e7e7)
        padding-top: 100px
        padding-left: 75px
        margin-top: 270px
    &__links
        display: flex
        flex-direction: column
        justify-content: space-around
        height: 200px
    &__link
        svg
            fill: #fff
    &__mini
        position: absolute
        width: 320px
        height: 475px
        background-color: #e2e8e8
        right: 0
        bottom: 0
    &__decor
        position: absolute
        width: 60px
        height: 720px
        background-color: #e6ecec
        left: 0
        bottom: 0
    &__content
        padding-left: 240px
        padding-top: 360px
    &__text
        width: 650px
        position: relative
        margin-bottom: 175px
        &-line
            position: absolute
            top: 0
            right: 160px
            width: 56px
            height: 7px
            background-color: #fff
    &__title
        font-family: 'Poppins', sans-serif
        font-size: 100px
        letter-spacing: -5px
        color: #1a1a1d
        margin-bottom: 70px
        font-weight: 400
        line-height: 100px
    &__subtitle
        font-size: 17px
        font-family: 'Nunito', sans-serif
        font-weight: 600
        letter-spacing: 3.4px
        color: #1a1a1d
        text-transform: uppercase
    &__subtext
        max-width: 1170px
        display: flex
        justify-content: space-between
    &__switch
        width: 100px
        display: flex
        justify-content: space-between
        &-left
            opacity: .4
            cursor: pointer
        &-right
            opacity: .4
            cursor: pointer
    &__tweet
        display: flex
        justify-content: space-between
        width: 930px
        &-text
            width: 565px
            font-family: 'Playfair Display', sans-serif
            font-size: 30px
            line-height: 46px
            letter-spacing: -1.2px
            color: #73737b
        &-ref
            display: inline-block
            color: #000
            border-bottom: 1px solid #000
            line-height: .9
            &:hover
                text-decoration: none
        &-link
            display: inline-block
            color: #72b9b9
            border-bottom: 1px solid #72b9b9
            line-height: .9
            &:hover
                text-decoration: none
        &-profile
            width: 260px
            height: 80px
            display: flex
            justify-content: space-around
            align-items: center
        &-avatar
            img
                width: 80px
                height: 80px
                object-fit: cover
                border-radius: 50%
        &-name
            font-family: 'Poppins', sans-serif
            font-size: 16px
            font-weight: 500
            line-height: 25px
            color: #1a1a1d
            a
                color: #92bcbd
                &:hover
                    text-decoration: none




