.talent
    height: 1080px
    position: relative
    padding-top: 270px
    margin-bottom: 80px
    &__bg
        position: absolute
        left: 0
        top: 0
        width: 70%
        height: 1080px
        opacity: 0.6
        background-image: linear-gradient(to top, #b4d3d3, #d9e7e7)
        z-index: -1
    &__promo
        width: 80%
        height: 540px
        background-color: #fff
        margin: 0 auto
        display: flex
    &__left
        width: 60%
        padding-top: 130px
        padding-left: 90px
    &__title
        font-family: 'Poppins', sans-serif
        font-size: 90px
        font-weight: 400
        line-height: 80px
        letter-spacing: 2.02px
        color: #1a1a1d
        margin-bottom: 50px
    &__subtitle
        display: flex
        max-width: 450px
        justify-content: space-between
        margin-bottom: 50px
    &__subtext
        font-family: 'Nunito', sans-serif
        font-size: 17px
        font-weight: 600
        line-height: 15px
        letter-spacing: 3.4px
        color: #1a1a1d
    &__divider
        width: 95px
        height: 7px
        background-color: #b4d3d3
    &__button
        width: 260px
        height: 60px
        border-radius: 4px
        border: none
        background-color: #b4d3d3
        font-family: 'Nunito', sans-serif
        font-size: 14px
        font-weight: 700
        letter-spacing: 2.8px
        text-align: center
        color: #fff
        text-transform: uppercase
        transition: .3s all
        &:hover
            background-color: #9adcdc
    &__right
        position: relative
        width: 40%
        height: 740px
        background-color: #1a1a1d
        overflow: hidden
        &-switch
            position: absolute
            bottom: 0
            right: 0
            width: 20%
            height: 200px
            background-color: #fff
            display: flex
            justify-content: space-evenly
            align-items: center
            flex-direction: column
            &-up
                cursor: pointer
                &:hover
                    svg
                        transition: .3s all
                        opacity: .4
            &-down
                cursor: pointer
                &:hover
                    svg
                        transition: .3s all
                        opacity: .4
    &__item
        height: 740px
        position: relative
        &-wrapper
            position: relative
            height: 2960px
            top: 0
            transition: .5s all
        &-photo
            position: absolute
            width: 100%
            height: 100%
            object-fit: cover
        &-bottom
            width: 100%
            height: 200px
            position: absolute
            bottom: 0
            background-color: rgba(255, 255, 255, 0.9)
            display: flex
            align-items: center
        &-text
            padding-left: 10%
            width: 80%
        &-merit
            font-family: 'Nunito', sans-serif
            font-size: 12px
            font-weight: 700
            line-height: 12px
            letter-spacing: 2.4px
            color: #1a1a1d
            text-transform: uppercase
            margin-bottom: 18px
            transform: scale(1,.9)
        &-name
            font-family: 'Poppins', sans-serif
            font-size: 30px
            font-weight: 600
            line-height: 26px
            color: #1a1a1d
            text-transform: uppercase
@media ( max-width: 1200px )
    .talent
        &__item
            &-name
                font-size: 25px
        &__left
            padding-left: 40px
        &__title
            font-size: 70px
        &__subtitle
            width: 400px
            align-items: flex-start
        &__subtext
            font-size: 15px
@media ( max-width: 992px )
    .talent
        padding-top: 150px
        height: 780px
        margin-bottom: 70px
        &__item
            height: 540px
            &-wrapper
                height: 2160px
        &__bg
            height: 780px
        &__title
            font-size: 45px
            line-height: 40px
        &__left
            padding-top: 180px
            padding-left: 30px
            width: 53%
        &__right
            width: 47%
            height: 540px
            &-switch
                height: 110px
        &__item
            &-bottom
                height: 110px
            &-name
                font-size: 20px
        &__divider
            display: none
@media ( max-width: 768px )
    .talent
        margin-bottom: 150px
        &__bg
            display: none
        &__promo
            flex-direction: column-reverse
            height: auto
        &__left
            padding: 20px 0
            width: 100%
            text-align: center
        &__title
            font-size: 35px
            line-height: 28px
            margin-bottom: 20px
        &__subtitle
            width: 100%
            display: block
            margin: 0 auto
            margin-bottom: 30px
        &__right
            width: 80%
            margin: 0 auto
@media ( max-width: 576px )
    .talent
        margin-bottom: 30px
        padding-top: 110px
        &__item
            height: 500px
            &-wrapper
                height: 2000px
        &__promo
            width: 100%
        &__right
            width: 90%
            height: 500px
        &__title
            font-size: 30px
            margin-bottom: 15px
        &__subtext
            font-size: 11px
            
