.homepage__table
    &__tabs
        margin: 0 auto
    &__wrapper
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(2, 1fr)
        margin-bottom: 60px
        grid-auto-rows: 0
        overflow: hidden
    &__btn
        display: block
        margin: 0 auto
        width: 220px
        height: 60px
        border-radius: 30px
        border: none
        background-color: #b4d3d3
        font-family: 'Nunito', sans-serif
        font-size: 14px
        font-weight: 600
        letter-spacing: 2px
        color: #fff
        text-transform: uppercase
        transition: .3s all
        &:hover
            background-color: #91b6b6
@media ( max-width: 768px )
    .homepage__table
        &__wrapper
            margin-bottom: 50px
            grid-template-columns: repeat(2, 1fr)
        &__tabs
            margin: 0
        &__btn
            width: 190px
            height: 60px
            font-size: 12px
@media ( max-width: 576px )
    .homepage__table
        &__wrapper
            grid-template-columns: repeat(1, 1fr)
            grid-template-rows: repeat(4, 1fr)
        &__btn
            height: 50px